<div class="forgot-password-page">
  <div class="forgot-password-card">
    <!-- Logo + Title -->
    <div class="logo-title">
      <img src="/images/logo.png" alt="RentEase Logo" />
      <h2>Forgot Password</h2>
    </div>

    <p>Enter your email to reset your password.</p>

    <div *ngIf="errorMessage" class="alert-error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert-success">{{ successMessage }}</div>

    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" novalidate>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" [disabled]="isLoading || !email">
        {{ isLoading ? 'Sending...' : 'Send Reset Email' }}
      </button>
    </form>

    <p class="back-arrow-links">
      <a (click)="navigateToLogin()"class="back-btn">Back to Login</a>
       <a (click)="navigateToHome()"class="back-btn" >Back to Home</a>
    </p>
  </div>
</div>
